/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE MOBILE FIRST */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

.header {
    background-color: #000000;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Logo + texto lado a lado */
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 35px;
    height: 35px;
}

/* Navegação */
.nav ul {
    list-style: none;
    display: flex;
    flex-direction: column; /* força ficar um abaixo do outro */
    gap: 10px; /* espaço entre eles */
    padding: 0;
}

.nav li {
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: white;
}


.nav a:hover {
    color: #1DB954;
}


.banner {
    padding: 20px;
}

.banner h2 {
    font-size: 1.8rem;
}

.artistas {
    padding: 20px;
}

.artistas h2 {
    margin-bottom: 16px;
}

.cards {
    display: flex;
    gap: 16px;
    overflow-x: auto;
}

.card {
    background-color: #181818;
    padding: 16px;
    border-radius: 10px;
    min-width: 150px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.card img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 1rem;
    margin-bottom: 5px;
}

.card p {
    font-size: 0.8rem;
    color: #b3b3b3;
}

.footer {
    background-color: #000000;
    text-align: center;
    padding: 15px;
    font-size: 0.8rem;
    margin-top: 20px;
}

/* ========================= */
/* TABLET */
@media (min-width: 768px) {

    .nav ul {
        display: flex;
        gap: 20px;
    }

    .nav li {
        margin-bottom: 0;
    }

    .cards {
        flex-wrap: wrap;
        overflow-x: hidden;
    }

    .card {
        flex: 1 1 calc(33.33% - 16px);
    }
}

/* ========================= */
/* DESKTOP */
@media (min-width: 1024px) {

    main {
        max-width: 1200px;
        margin: 0 auto;
    }

    .card {
        flex: 1 1 calc(20% - 16px);
    }

    .banner h2 {
        font-size: 2.5rem;
    }
}
